---
export interface Props {
  name: string;
  value: string;
  key?: string;
}

const { name, value, key } = Astro.props;
const id = (name || "") + "-" + (key || "");
---

<div class="input hidden">
  <input type="hidden" name={name} {id} value={value} />
</div>

<style>
  .input {
    display: none;
  }
</style>
