---
import Markdown from "@shared/Markdown.astro";
import Icon from "@shared/icon.astro";

const { href } = Astro.props;
---

<a class="button" {href}>
  <span><slot /></span>
  <Icon name="fa6-solid:circle-chevron-right" height="1.8em" />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    gap: 1.2em;
    border-radius: var(--border-radius);
    text-decoration: none;
    width: fit-content;
  }
</style>
