---
const selfName = "form/fieldset";
export interface Props {
  legend: string;
  form_blocks: any[];
  key?: string;
}

const { legend, form_blocks, key } = Astro.props;

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  [
    "/src/mws-astro/src/components/form/**/*.jsx",
    "/src/mws-astro/src/components/form/**/*.astro"
  ],
  {
    eager: true,
  }
);

Object.entries(componentImports).forEach(([path, obj]: [string, any]) => {
  const parts = path
    .replace(/^.*components\//, "")
    .split(".")[0]
    .split("/");
  if (parts.length > 1 && parts[parts.length - 1] === parts[parts.length - 2]) {
    parts.pop();
  }
  const bookshopName = parts.join("/");
  components[bookshopName] = obj.default;
});
---

<fieldset>
  <legend>{legend}</legend>
  {
    form_blocks.map((block: any, i: any) => {
      if (block._bookshop_name == selfName) {
        return <Astro.self {...block} key={String(i) + (key || "")} />;
      }
      const Component = components[block._bookshop_name];
      if (Component) {
        return <Component {...block} key={String(i) + (key || "")} />;
      }
      return (
        <div class="missing-component">
          {`Component ${block._bookshop_name} could not be found!`}
        </div>
      );
    })
  }
</fieldset>

<style>
  fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    border: var(--form-border);
  }

  legend {
    font-size: larger;
    color: rgb(var(--text-color));
  }
</style>
