---
import { convertColorString } from "src/util";
import Social from "@components/social/social.astro";
import preferences from "data/preferences.json";
const currentYear = new Date().getFullYear();

const textColor = convertColorString(preferences.footer.foreground_color);
---

<section
  class="footer"
  style={`--background-color: ${preferences.footer.background_color};` +
    `--text-color: ${textColor};`}
>
  {
    preferences.footer.show_copyright && (
      <p class="copyright">
        {preferences.footer.copyright.replace("©", "© " + currentYear)}
      </p>
    )
  }
  {preferences.footer.show_socials && <Social />}
  {
    preferences.footer.show_top_button && (
      <a href="#top" style="color: rgb(var(--text-color))">
        Back to top
      </a>
    )
  }
</section>

<style>
  section.footer {
    display: grid;
    gap: 2rem;
    background-color: var(--background-color);
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .copyright {
    height: 100%;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    section.footer {
      grid-template-rows: auto auto;
      grid-template-columns: auto;
    }
  }
</style>
