---
export interface Props {
  contentBlocks: any[];
}

const { contentBlocks } = Astro.props;

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  ["/src/components/**/*.jsx", "/src/components/**/*.astro"],
  {
    eager: true,
  }
);

Object.entries(componentImports).forEach(([path, obj]: [string, any]) => {
  const parts = path
    .replace(/^.*components\//, "")
    .split(".")[0]
    .split("/");
  if (parts.length > 1 && parts[parts.length - 1] === parts[parts.length - 2]) {
    parts.pop();
  }
  const bookshopName = parts.join("/");
  components[bookshopName] = obj.default;
});
---

<main>
  {
    contentBlocks.map((block: any, i: number) => {
      const Component = components[block._bookshop_name];
      if (Component) {
        return <Component {...block} key={String(i)} />;
      }
      return (
        <div class="missing-component">
          {`Component ${block._bookshop_name} could not be found!`}
        </div>
      );
    })
  }
</main>
