---
import { convertColorString } from "@mws-astro/util";
import Social from "@components/social/social.astro";
import Markdown from "@shared/Markdown.astro";
import Navigation from "@components/navigation/navigation.astro";
import preferences from "@data/preferences.json";
const currentYear = new Date().getFullYear();

const footerPreferences = (preferences.footer as typeof preferences.footer & Record<string, any>);
const textColor = convertColorString(footerPreferences?.foreground_color);

const Override = (await Object.values(import.meta.glob("/src/components/**/Footer.astro"))?.[0]?.() as any)?.default;
---

{ Override ? <Override {...Astro.props} /> : (
  <section
      class="footer"
      style={`--background-color: ${footerPreferences?.background_color};` +
          `--text-color: ${textColor};`}
  >
      {footerPreferences?.show_top_button && <a href="#top">Back to top</a>}
      {
          footerPreferences?.text_content && (
              <div class="content">
                  <Markdown content={footerPreferences?.text_content} />
              </div>
          )
      }
      {
          footerPreferences?.show_sitemap && (
              <Navigation collection="pages" filter="/" parent={false} />
          )
      }
      {footerPreferences?.show_socials && <Social />}
      {
          footerPreferences?.show_copyright && (
              <div class="copyright">
                <Markdown content={footerPreferences?.copyright.replace(
                    "©",
                    "© " + currentYear,
                )} />
              </div>
          )
      }
      <p class="brand">
          Site by <a
              href="https://www.millstream.com.au/"
              target="_blank"
              rel="noopener">Millstream Creative</a
          >
      </p>
  </section>
)}


<style>
    section.footer {
        display: grid;
        gap: 2rem;
        background-color: var(--background-color);
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        color: rgb(var(--text-color));
    }

    .copyright {
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .brand {
        margin: 0;
        grid-column: 2 / 3;
        text-align: right;
        opacity: 0.5;
    }

    

    
</style>

<style is:global lang="scss">
    html.mobile-nav section.footer {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        padding-bottom: 100px; /* Create space for mobile navigation button */
    }
</style>
