---
import _preferences from "@data/preferences.json";
const preferences = _preferences as unknown as Preferences;
import Navigation from "./SiteNavigation.astro";

export interface Props {}

const theme: "pod" | "single" = preferences.header.theme || "single";
---

<header
  id="header"
  class:list={{
    pinned:
      preferences.header.pin_header &&
      preferences.header.pin_header !== "false",
    "mobile-logo": preferences.header.show_logo_mobile ?? false,
    [`theme-${theme}`]: !!theme,
  }}
>
  <div id="header-items">
    {
      preferences.header.show_logo && (
        <a class="logo" href="/" title="Home">
          <img
            src={preferences.header.logo_image}
            alt={`${preferences.general.site_name} Logo`}
          />
        </a>
      )
    }
    {preferences.header.show_navigation && <Navigation />}
  </div>
</header>

<style>
  header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    z-index: 8000;
    --text-color: var(--header-color);
    color: rgb(var(--header-color));
    height: var(--header-height);

    /* grid-template-columns: auto 1fr; */
    /* padding: 0 var(--page-max-width-padding); */
    padding: 0;
    padding-left: var(--page-safe-left-padding);
    padding-right: var(--page-safe-right-padding);

    background: linear-gradient(
      to bottom,
      rgba(var(--header-background-color)),
      rgba(var(--header-background-color-bottom))
    );
  }

  #header-items {
    height: 100%;
    display: grid;
    grid-template-areas: "logo navigation";
    grid-template-rows: 100%;
    grid-template-columns: 1fr auto;
  }

  header.pinned {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .logo {
    padding: 10px;
    grid-area: logo;
    width: fit-content;
    min-width: 15rem;
  }

  .logo img {
    object-fit: contain;
    object-position: left;
    width: auto;
    height: var(--header-height);
    max-height: 100%;
    max-width: 100%;
  }

  .theme-pod {
    margin-top: 1rem;

    display: flex;
    justify-content: center;

    background: none;

    #header-items {
      border-radius: 9999px;
      border: var(--header-border-width) solid rgb(var(--header-border-color));
      padding: 0 2rem;

      background: linear-gradient(
        to bottom,
        rgba(var(--header-background-color)),
        rgba(var(--header-background-color-bottom))
      );
    }
  }
</style>

<style lang="scss" is:global>
  :where(:root) {
    --header-background-color: 0 0 0 / 0.6;
    --header-background-color-bottom: 0 0 0 / 0.3;
    --header-color: 255 255 255;
    --header-height: 80px;
    --header-content-offset: 0px;
    --header-hover-highlight: 40 40 40;

    --header-font-size: var(--text-size-small);
    --header-hover-color: var(--text-color);
    --header-hover-background-color: var(--color-accent);
    --header-item-padding: 0.5rem 1rem;
    --header-item-border-radius: var(--border-radius);

    --mobile-header-background-color: var(--header-background-color);
    --mobile-header-background-color-bottom: var(
      --header-background-color-bottom
    );
    --mobile-header-color: var(--header-color);
    --header-border-radius: var(--border-radius, 0);
    --header-dropdown-padding: 1rem;
    --mobile-header-margin: 0px;

    --header-arrow-size: 12px;
    --header-arrow-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  :where(:root:has(#header.theme-pod)) {
    --header-height: 60px;
    --header-offset-transparent: 0px;
    --header-background-color: 240 240 240;
    --header-background-color-bottom: var(--header-background-color);
    --header-color: 0 0 0;
    --header-hover-highlight: var(--color-accent);
    --header-border-color: 220 220 220;
    --header-border-width: 2px;
    --header-border-radius: 20px;
    --header-item-border-radius: 20px;
    --header-dropdown-padding: 1rem;
    --mobile-header-margin: 1rem;
  }

  header .secondary ul.social {
    padding: 0;
  }

  header .secondary li {
    font-size: var(--text-size-small);
    letter-spacing: 1px;
  }

  .mobile-nav {
    #header.mobile-logo {
      grid-template-areas: "logo";

      .logo {
        width: 100%;

        img {
          width: 100%;
          object-position: center;
        }
      }
    }

    #header:not(.mobile-logo) {
      height: 0;

      .logo {
        display: none;
      }
    }

    body:has(> #header:not(.mobile-logo)) {
      --header-height: 0;
    }
  }
</style>
