---
import MarkdownIt from "markdown-it";
import IconInformation from "~icons/carbon/information-filled";
import IconWarning from "~icons/carbon/warning-square-filled";
const md = new MarkdownIt({ html: true });

export interface Props {
  content: string;
  style?: string;
  key?: string;
}

const htmlContent = md.render(Astro.props.content);

const style = Astro.props.style
  ? "form-info-" + Astro.props.style.toLowerCase()
  : undefined;
const Icon = style
  ? {
      "form-info-info": IconInformation,
      "form-info-warning": IconWarning,
    }[style]
  : undefined;
---

<section class={style}>
  {Icon && <Icon class="icon" />}
  <Fragment set:html={htmlContent} />
</section>

<style lang="scss">
  section {
    position: relative;
    margin-bottom: 2rem;
  }

  .form-info-info,
  .form-info-warning,
  .form-info-details {
    padding: 1rem;
  }

  .form-info-info,
  .form-info-warning {
    padding-left: 5.5rem;
  }

  .form-info-info {
    background-color: #daeaef;
    svg.icon {
      color: #1c6077;
    }
  }
  .form-info-warning {
    background-color: #fafad2;
    svg.icon {
      color: #d2a72c;
    }
  }
  .form-info-details {
    background-color: #efefef;
    font-style: italic;
    padding-left: 1.5rem;
  }

  svg.icon {
    position: absolute;
    width: 2.5rem;
    left: 1.2rem;
    margin-top: 0.2em;
    height: auto;
  }
</style>
