---
import MarkdownIt from "markdown-it";
// import IconInformation from "~icons/carbon/information-filled";
// import IconWarning from "~icons/carbon/warning-square-filled";

const md = new MarkdownIt({ html: true });

export interface Props {
  content: string;
  style?: string;
  key?: string;
}

const htmlContent = md.render(Astro.props.content);

const style = Astro.props.style
  ? "form-info-" + Astro.props.style.toLowerCase()
  : undefined;
// const Icon = style
//   ? {
//       "form-info-info": IconInformation,
//       "form-info-warning": IconWarning,
//     }[style]
//   : undefined;

// {Icon && <Icon class="icon" />}
---

<section class={style}>
  <Fragment set:html={htmlContent} />
</section>

<style>
  section {
    position: relative;
    margin-bottom: 2rem;
  }

  .form-info-info,
  .form-info-warning,
  .form-info-details {
    padding: 1rem;
    border-radius: 0.3rem;
    padding-left: 1.5rem;
    border-left: 0.5rem solid rgb(207, 207, 207);
  }

  .form-info-info {
    background-color: #daeaef;
    border-color: #93cddf;
  }
  /* .form-info-info svg.icon {
    color: #1c6077;
  } */

  .form-info-warning {
    background-color: #faefd2;
    border-color: #e9cd73;
  }
  /* .form-info-warning svg.icon {
    color: #d2a72c;
  } */

  .form-info-details {
    background-color: #efefef;
  }

  /* svg.icon {
    position: absolute;
    width: 2.5rem;
    left: 1.2rem;
    margin-top: 0.2em;
    height: auto;
  } */
</style>
