@import "src/styles/custom.editor.css";

.align-left { text-align: left; align-self: flex-start; }
.align-center { text-align: center; align-self: center; }
.align-right { text-align: right; align-self: flex-end; }
.align-justify { text-align: justify; }

img.align-left { float: left; margin-right: 5rem; }
img.align-right { float: right; margin-left: 5rem; }

a.button {

}