@import "editor";

:root {
  --page-max-width: 1920px;

  --indent: min(8vw, calc(var(--page-max-width) * 0.08));
  --column-gap: calc(var(--indent) * 0.5);
  --gallery-gap: 1rem;
  --text-gap: 2rem;
  --text-gap-small: 1rem;
  --text-size-huge: 46px;
  --text-size-xxlarge: 30px;
  --text-size-xlarge: 22px;
  --text-size-large: 17px;
  --text-size-medium: 15px;
  --text-size-small: 14px;
  --text-size-xsmall: 12px;
  --text-size-xxsmall: 10px;

  --default-font-family: "Open Sans";
  --feature-font-family: var(--default-font-family);
  --bold-font-family: var(--default-font-family);

  --color-primary: 24 58 78;
  --color-accent: 120 45 49;
  --text-color: var(--color-primary);
  --heading-color: var(--color-primary);

  --header-background-color: 0 0 0 / 0.6;
  --header-background-color-bottom: 0 0 0 / 0;
  --header-color: 255 255 255;
  --header-height: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 24 58 78;
    --color-accent: 120 45 49;
    --text-color: var(--color-primary);
    --heading-color: var(--color-primary);

    --header-background-color: 0 0 0 / 0.6;
    --header-background-color-bottom: 0 0 0 / 0;
    --header-color: 255 255 255;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  max-height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: var(--default-font-family);
  display: grid;
  grid-template-columns: 1fr min(var(--page-max-width), 100vw) 1fr;
  background: linear-gradient(
    to right,
    white,
    #ddd calc((100% - var(--page-max-width)) * 0.5),
    #ddd calc((100% - var(--page-max-width)) * 0.5 + var(--page-max-width)),
    white
  );
}

body {
  background-color: white;
  max-width: var(--page-max-width);
  position: relative;
  grid-column: 2 / 3;
}

section
  > :is(h1, h2, h3, h4, h5, h6, p, ul, form, address)
  + :is(h1, h2, h3, h4, h5, h6, p, ul, form, address) {
  margin-top: var(--text-gap);
}

section {
  padding: var(--indent);
}

section:not(#\9).no-indent {
  padding: 0;

  &-top {
    padding-top: 0;
  }
  &-bottom {
    padding-bottom: 0;
  }
  &-left {
    padding-left: 0;
  }
  &-right {
    padding-right: 0;
  }
}

form {
  label {
    display: block;
    font-size: var(--text-size-small);
    font-family: var(--bold-font-family);
    margin: 0 0 5px;
  }

  input,
  textarea {
    width: 100%;
    background-color: white;
  }
}

p,
li,
input,
button,
textarea,
label,
select {
  margin: 0;
  line-height: 2;
  font-family: var(--default-font-family);
  font-size: var(--text-size-medium);
  color: rgb(var(--text-color));
}

table {
  line-height: 1.6;
  font-family: var(--default-font-family);
  font-size: var(--text-size-medium);
  margin-bottom: 2em;
}

table th {
  text-align: right;
  padding-right: 0.5em;
}

table td {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 2;
  font-family: var(--default-font-family);
  color: rgb(var(--heading-color));
}

h1 {
  font-size: var(--text-size-xxlarge);
  font-family: var(--feature-font-family);
}

h2 {
  font-size: var(--text-size-xlarge);
  font-family: var(--feature-font-family);
}

h3 {
  font-size: var(--text-size-large);
  font-family: var(--feature-font-family);
}

hr {
  height: 1px;
  background-color: rgb(var(--color-primary) / 0.25);
  border: none;
}

strong {
  font-family: var(--bold-font-family);
}

button {
  cursor: pointer;
}
// .missing-component {
//   display: none;
// }

.cms-editor-active .missing-component {
  display: block;
}

.missing-component {
  display: block;
  background-color: #faa;
  padding: 2rem;
  border: 2px solid red;
  margin: 1rem;
}

section {
  background-color: rgb(var(--background-color));
}

// Site specific custom styling
@import "@custom/custom.editor";
@import "@custom/custom";
