---
import { Slider } from "../types";
import Image from "./Image.astro";

export interface Props {
  slider: Slider;
  background?: string;
}

const { slider, background } = Astro.props;

const speed = 6000;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      slider.images.map((img) => (
        <div class="swiper-slide">
          {void (img.imageFit = slider.imageFit)}
          <Image image={img} />
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script define:vars={{ speed }}>
  new Swiper(".swiper", {
    speed: speed,
    slidesPerView: 3,
    centeredSlides: true,
    effect: "fade",
    fadeEffect: {
      crossFade: true,
    },
    spaceBetween: 30,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
