---
import { Slider } from "../types";
import { SwiperOptions } from "swiper";
import Image from "./Image.astro";

export interface Props {
  slider: Slider;
}

const { slider } = Astro.props;

let options = slider.options;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      slider.images.map((img) => (
        <div class="swiper-slide">
          {void (img.imageFit = slider.imageFit)}
          <Image image={img} />
        </div>
      ))
    }
  </div>
  { options.pagination &&
    <div class="swiper-pagination"></div>
  }
  { options.navigation && 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  }
</div>

<script define:vars={{ options }}>
  new Swiper(document.currentScript.previousElementSibling, options);
  console.log("Created new Swiper at", document.currentScript.previousElementSibling, "with options", options);
</script>

<style lang="scss">
  .swiper {
    max-width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
</style>
