---
import { bookshopName } from "@mws-astro/util";
import { getTree, urlToId, type TreeNode } from "@mws-astro/navigation";
import { getCollection, type CollectionKey } from "astro:content";

export interface Props {
  collection: CollectionKey;
  show_home?: boolean;
  depth?: number;
  key: string;
  d?: number;
}

const { collection, show_home = true, depth, key, d } = Astro.props;

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  ["/src/mws-astro/src/components/navigation/**/*.astro"],
  {
    eager: true,
  },
);

const componentOverrides = import.meta.glob(
  ["/src/components/navigation/**/*.astro"],
  {
    eager: true,
  },
);

Object.entries(componentImports).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

Object.entries(componentOverrides).forEach(
  ([path, obj]: [string, any]) =>
    (components[bookshopName(path)] = obj.default),
);

function createTitle(id: string) {
  return (
    id
      ?.split("/")
      .at(-1)
      ?.replaceAll("-", " ")
      .replace(
        /\w\S*/g,
        (t) => t.charAt(0).toUpperCase() + t.substring(1).toLowerCase(),
      ) || ""
  );
}

/**
 * Recursively search for a child item which should appear in navigation (online/meta with link).
 * @param item
 */
function renderableChild(item: TreeNode<CollectionKey>) {
  const renderable =
    item.status === "online" ||
    (item.status === "meta" &&
      (!!item.data?.link ||
        (item.children &&
          Object.values(item.children).some(renderableChild)))) ||
    false;
  return renderable;
}

function createNavBlock(item: TreeNode<CollectionKey>): any {
  if (item.status === "offline" || item.status === "hidden") return [];

  if (item.children && Object.values(item.children).some(renderableChild)) {
    return {
      _bookshop_name: "navigation/dropdown",
      id: item.id,
      title: item.data?.title || createTitle(item.id),
      items: [
        item.data?.status === "online"
          ? {
              _bookshop_name: "navigation/link",
              id: item.id,
              title: item.data?.title || createTitle(item.id),
              link: `/${item.id}`,
              selected: item.selected,
            }
          : [],
        Object.values(item.children).flatMap(createNavBlock),
      ].flat(),
      selected: item.selected,
    };
  }

  if (item.status === "meta" && !item.data?.link) return [];

  return {
    _bookshop_name: "navigation/link",
    id: item.id,
    title: item.data?.title || createTitle(item.id),
    link:
      item.data?.status === "online" ? `/${item.id}` : item.data?.link || "",
    selected: item.selected,
  };
}

const tree = getTree(await getCollection(collection), {
  select: urlToId(Astro.request.url),
  depth,
});
const items = Object.values(tree.children).flatMap(createNavBlock);

const _d = d !== undefined;
---

<>
  {
    items.map((item: any, i: number) => {
      var Component = components[item._bookshop_name];

      if (item.id === "" && !show_home) return;

      if (Component) {
        return (
          <div
            class:list={["navigation-item", { [`d${d}`]: _d }]}
            data-component={item._bookshop_name}
          >
            <Component
              d={(_d && d + 1) || undefined}
              {...item}
              key={(key || "") + "-" + i.toString()}
            />
          </div>
        );
      }
    })
  }
</>

<style>
  .navigation-item {
    display: contents;
  }
</style>
