---
import { getPageAncestors, urlToId } from "@mws-astro/navigation";
import Icon from "@shared/icon.astro";

const showHome = true;
const ancestors = await getPageAncestors(urlToId(Astro.request.url));
---

<div>
  {showHome && <>
    <a href="/"><Icon name="fa6-solid:house" height="1em"/></a>
    <Icon name="fa6-solid:caret-right" height="1em"/>
  </>}
  {!!ancestors.length && ancestors.map((p,i) =>
  <>
    <a href={p.link}>{p.data.title}</a>
    {i+1 < ancestors.length && <Icon name="fa6-solid:caret-right" height="1em"/>}
  </>)}
</div>

<style>
div,a {
  display: flex;
  color: white;
  font-size: var(--text-size-small);
  text-decoration: none;
}

div {
  flex-direction: row;
  gap: .5em;
  align-items: center;
}
</style>
