---
export interface Props {
  text: string;
  _content_blocks: any[];
}

const { text, _content_blocks } = Astro.props;

// @ts-expect-error
const ENV_EDITOR: boolean = ENV_BOOKSHOP_LIVE || false;

// const middleware = Object.keys(Astro.locals).toString();
const contentBlocks = typeof _content_blocks;
---

<div>
  <p>
    Live Editing Status: <span id="astro-test">{String(ENV_EDITOR)}</span>
  </p>
  <p>Test data: <span>{text}</span></p>
  <!-- <p>Middleware: <span>{//middleware}</span></p> -->
  <p>Content Blocks: <span>{contentBlocks}</span></p>
</div>

<style>
  #astro-test {
    background-color: lightcoral;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  div {
    position: absolute;
    z-index: 10000;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    background-color: white;
    bottom: 0;
    right: 0;
    box-shadow: 0.5rem 0.5rem 2rem #00000011;
  }

  span {
    font-weight: bold;
  }
</style>
<style is:global>
  .cms-editor-active #astro-test {
    background-color: greenyellow;
  }
</style>
