---
import MarkdownIt from "markdown-it";
const md = new MarkdownIt({ html: true });

export interface Props {
  images: any[];
  height: number;
  columns: number;
  indent: boolean;
}

const { images, height, indent } = Astro.props;
const columns = Astro.props.columns || images.length;
---

<section class={`gallery ${indent ? "" : "no-indent"}`}>
  {
    images.map((img) => (
      <figure class="gallery-item">
        <img src={img.image} />
        {(img.title || img.description) && (
          <figcaption>
            {img.title && <h3>{img.title}</h3>}
            {img.description && <div set:html={md.render(img.description)} />}
          </figcaption>
        )}
      </figure>
    ))
  }
</section>

<style lang="scss">
  .gallery {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    // grid-auto-rows: 1fr;
    grid-auto-flow: row;
    // gap: var(--columnGap);
    // padding: var(--columnGap);
    // height: 100%;
  }

  .gallery-item {
    // aspect-ratio: 1;
    // line-height: 0;
    position: relative;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;

    img {
      // aspect-ratio: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    figcaption {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // inset: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem;
      background: linear-gradient(to right, #ffffffdd, #ffffff99);
    }
  }
</style>

<style define:vars={{ height, columns }}>
  section.gallery {
    /* height: calc(var(--height) * 1vh); */
    grid-template-columns: repeat(var(--columns), 1fr);
  }
</style>
