---
export interface Props {
  title: string;
  content_blocks: Array<Record<string, any>>;
}

// import { SITE } from "../config";
// import { SEO } from "astro-seo";

// import "../styles/styles.scss";
// import "../styles/layouts.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
