---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="stylesheet" href="/styles/fonts.css" />

    <!-- flickity -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity-fade@2/flickity-fade.css"
    />

    <script
      is:inline
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
    ></script>
    <script is:inline src="https://unpkg.com/flickity-fade@1/flickity-fade.js"
    ></script>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
