---
import Navigation from "@shared/Navigation.astro";

export interface Props {
  title: string;
  id?: string;
  content_blocks: Array<Record<string, any>>;
  show_global_header?: boolean;
  show_global_footer?: boolean;
  paths?: any[];
}

// import { SITE } from "../config";
// import { SEO } from "astro-seo";

import "../styles/styles.scss";
// import "../styles/layouts.scss";
import "node_modules/@glidejs/glide/dist/css/glide.core.min.css";
// import "node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

const {
  title,
  content_blocks,
  show_global_header,
  show_global_footer,
  id,
  paths,
} = Astro.props;
import preferences from "data/preferences.json";

const pageTitle = title + preferences.general.browser_window_title_suffix;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    {show_global_header && <Navigation {id} {paths} />}
    <article>
      <slot />
      {show_global_footer && <section id="footer">Footer!</section>}
    </article>
  </body>
</html>
