---
export interface Props {
  title: string;
}

import { SITE } from "../config";
import { SEO } from "astro-seo";

import "../styles/styles.scss";
import "../styles/layouts.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={SITE.title}
      description={SITE.description}
      openGraph={{
        basic: {
          title: SITE.ogTitle,
          type: SITE.imageType,
          image: SITE.canonical + SITE.image,
        },
        image: {
          alt: SITE.imageAlt,
          height: SITE.imageHeight,
          width: SITE.imageWidth,
        },
      }}
    />

    <link rel="stylesheet" href="/styles/fonts.css" />

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
    ></script>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
