---
import Gallery from '../components/Gallery.astro'

const {frontmatter} = Astro.props;
const backgroundImage = frontmatter.backgroundImage;
const backgroundColor = frontmatter.background;
const foregroundColor = frontmatter.foreground;
const gallery = frontmatter.gallery;
---
<section>
    {backgroundImage && <img class="userBG" src={backgroundImage} />}
    {gallery && <Gallery gallery={gallery}/>}
    <slot />
</section>

<style define:vars={{ backgroundColor, foregroundColor }}>
    section {
        color: var(--foregroundColor);
        background: var(--backgroundColor);
        padding: 5rem;
    }

    section img.userBG {
        position: absolute;
        inset: 0;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }
</style>