---
import Gallery from '../components/Gallery.astro';
import Slider from '../components/Slider.astro';

const {frontmatter} = Astro.props;
const backgroundImage = frontmatter.backgroundImage;
const backgroundColor = frontmatter.background;
const foregroundColor = frontmatter.foreground;
const gallery = frontmatter.gallery;
const slider = frontmatter.slider;
---
<section>
    <div class="userBG">
        {backgroundImage && <img src={backgroundImage} />}
        {gallery && <Gallery gallery={gallery} />}
        {slider && <Slider slider={slider} />}
    </div>
    <slot />
</section>

<style define:vars={{ backgroundColor, foregroundColor }}>
    section {
        color: var(--foregroundColor);
        background: var(--backgroundColor);
        padding: 5rem;
    }

    .userBG img {
        object-fit: cover;
        object-position: center;
    }

    .userBG {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
</style>