---
import preferences from "../../../data/preferences.json";
---

<ul class="social">
  {
    preferences.general.social.map((s) =>
      s.title ? (
        <li>
          <a
            href={s.link}
            class={s.name}
            rel="noopener noreferrer"
            target="_blank"
          >
            <span>{s.title}</span>
          </a>
        </li>
      ) : (
        ""
      )
    )
  }
</ul>

<style lang="scss">
  .social {
    color: var(--text-color);
    display: flex;
    justify-content: flex-end;
    // height: 100%;
    padding: 1rem;
    margin-top: 0;
    padding-right: var(--text-gap);
    align-items: center;
    list-style-type: none;
    column-gap: var(--text-gap);
  }

  a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;

    // Insert the container for the icon
    &::before {
      content: "";
      display: block;
      background-color: currentColor;
      width: 24px;
      height: 24px;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    // Accessible hiding of label text by default
    span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .telephone {
    span {
      all: unset;
    }

    &::before {
      mask-image: url(/images/icons/phone.svg);
      mask-size: 80%;
      mask-position: center;
    }
  }

  .twitter::before {
    mask-image: url(/images/icons/twitter.svg);
  }

  .facebook::before {
    mask-image: url(/images/icons/facebook.svg);
  }

  .instagram::before {
    mask-image: url(/images/icons/instagram.svg);
  }
</style>
