---
import Icon from "@shared/icon.astro";

export interface Props {}
---

<form name="search" action="/search" method="GET">
    <input name="q" type="text" placeholder="Search" />
    <button type="submit">
        <Icon name="fa6-solid:magnifying-glass" height="1.5em" />
    </button>
</form>

<style lang="scss">
    input {
        border: none;
        background-color: white;
        color: #222;
        height: 1.8em;
        width: 100%;
        
    }
    form {
        /* flex: .5 .5 20rem; */
        /* container-type: size; */
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        /* width: min(12vw, 20rem); */
        
        
        margin: 0 5px;
        padding: 0 10px;
    }
    
    button {
        border: none;
        padding: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<style is:global>
nav form[name="search"] {
    svg {
        /* color: rgb(var(--text-color)); */
        color: rgb(var(--header-color));
    }
}
</style>
