---
// import { convertColorString } from "@mws-astro/util";
import Section from "@layouts/Section.astro";
import Markdown from "@shared/Markdown.astro";

export interface Props {
  content: string;
  background_color?: string;
  classes?: any;
  style?: Record<string, string>;
}

const { background_color, style, classes, content } = Astro.props;
// const background = convertColorString(background_color);
---

<Section component="richtext" {...Astro.props}>
  <Markdown {content} />
</Section>

<style>
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>

<style is:global>
  .rich-text img {
    margin-bottom: 2rem;
  }
</style>
