@import "/public/styles/fonts.css";

.align-left { text-align: left; align-self: flex-start; }
.align-center { text-align: center; align-self: center; }
.align-right { text-align: right; align-self: flex-end; }
.align-justify { text-align: justify; }

h3.highlight-1 {
  color: rgb(var(--color-accent) / 0.7);
}

h3.highlight-2 {
  color: white;
  background-color: rgb(var(--color-accent) / 0.9);
  padding: 3px 10px;
  margin: 0 0 5px 0;
}