@import "editor";
@import "custom";

:root {
  --indent: 8vw;
  --text-gap: 2rem;
  --text-gap-small: 1rem;
  --column-gap: 4vw;
  --text-size-huge: 46px;
  --text-size-xxlarge: 30px;
  --text-size-xlarge: 22px;
  --text-size-large: 17px;
  --text-size-medium: 15px;
  --text-size-small: 14px;
  --text-size-xsmall: 12px;
  --text-size-xxsmall: 10px;

  --feature-font-family: "Rosewood W05 Fill";
  --default-font-family: "Ronnia W01 Light";
  --bold-font-family: "Ronnia W01 Regular";

  --color-primary: 24 58 78;
  --color-accent: 120 45 49;
  --text-color: var(--color-primary);
  --heading-color: var(--color-primary);
  --header-background-color: 0 0 0 / 0.6;
  --header-color: 255 255 255;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: var(--default-font-family);
}

section
  > :is(h1, h2, h3, h4, h5, h6, p, ul, form, address)
  + :is(h1, h2, h3, h4, h5, h6, p, ul, form, address) {
  margin-top: var(--text-gap);
}

section:not(.no-indent) {
  margin: var(--indent);
}

// .columns {
//   margin-top: var(--indent);
//   // margin-bottom: var(--indent);
// }

// * + .columns section {
//   margin-top: 0;
// }

.columns section:not(.no-indent) {
  margin-left: 0;
  margin-right: 0;
  // margin-top: 0;
  // margin: 0;

  &:first-child {
    margin-left: var(--indent);
    margin-right: var(--column-gap);
  }

  &:last-child {
    margin-left: var(--column-gap);
    margin-right: var(--indent);
  }
}

p,
li,
input,
button,
textarea,
label,
select {
  margin: 0;
  line-height: 2;
  font-family: var(--default-font-family);
  font-size: var(--text-size-medium);
  color: rgb(var(--text-color));
}

table {
  line-height: 1.6;
  font-family: var(--default-font-family);
  font-size: var(--text-size-medium);
  margin-bottom: 2em;
}

table th {
  text-align: right;
  padding-right: 0.5em;
}

table td {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 2;
  font-family: var(--default-font-family);
  color: rgb(var(--heading-color));
}

h1 {
  font-size: var(--text-size-xxlarge);
  font-family: var(--feature-font-family);
}

h2 {
  font-size: var(--text-size-xlarge);
  font-family: var(--feature-font-family);
}

h3 {
  font-size: var(--text-size-large);
  font-family: var(--feature-font-family);
}

hr {
  height: 1px;
  background-color: rgb(var(--color-primary) / 0.25);
  border: none;
}

strong {
  font-family: var(--bold-font-family);
}

// .missing-component {
//   display: none;
// }

.cms-editor-active .missing-component {
  display: block;
}

.missing-component {
  display: block;
  background-color: #faa;
  padding: 2rem;
  border: 2px solid red;
  margin: 1rem;
}

.align-center + table {
  align-self: center;
}

$arrowSize: 3rem;
$bulletSize: 1rem;

@for $i from 1 to 20 {
  .slider input:nth-of-type(#{$i}):checked ~ .glide li:nth-of-type(#{$i}) {
    display: block;
  }
  .slider
    input:nth-of-type(#{$i}):checked
    ~ .editor__buttons
    label:nth-of-type(#{$i}) {
    background-color: rgb(82, 223, 255);
  }
}

.slider.ENV_EDITOR {
  position: relative;

  .glide__slide {
    display: none;
  }

  input {
    display: none;
  }

  label {
    background-color: rgb(235, 255, 255);
    // padding: 0.5rem 1rem;
    height: 100%;
    padding: 0 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgb(163, 238, 255);
    }
  }

  input:checked + label {
    background-color: rgb(82, 223, 255);
  }

  .glide__arrows,
  .glide__bullets {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
  }

  :hover .glide__arrows,
  :hover .glide__bullets {
    opacity: 0;
  }

  .editor__buttons {
    height: 3rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.glide__slides {
  height: var(--height);
}

.glide__slide {
  background-color: var(--background-color);
  background-image: var(--background-image);

  background-position: center;
  background-size: cover;

  padding: 4rem;
  height: 100%;
}

.glide__arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .glide__arrow {
    position: absolute;
    top: calc(50% - $arrowSize * 0.5);
    height: $arrowSize;
    width: $arrowSize;
    border: none;
    background-color: #00000033;
    border-radius: $arrowSize;
    backdrop-filter: blur(2px);
  }

  .glide__arrow--left {
    left: 1rem;
  }

  .glide__arrow--right {
    right: 1rem;
  }

  .glide__arrow svg {
    color: white;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    // filter: drop-shadow(0 0 0.2rem #000000aa);
  }
}

.glide__bullets {
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 1rem;
}

.glide__bullet {
  border: none;
  padding: 0;
  height: $bulletSize * 0.5;
  width: $bulletSize;
  border-radius: 0.5rem;
  background-color: #dddddd;
  box-shadow: 0 0 0.2rem #00000011;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &--active {
    background-color: white;
    box-shadow: 0 0 0.2rem #00000044;
  }
}

.slider div[data-slider-type="fader"] {
  .glide__slides {
    transform: translate3d(0, 0, 0) !important;
  }

  .glide__slide:first-child {
    animation-name: startOpaque;
    animation-duration: var(--transition);
    animation-iteration-count: 1;
  }

  .glide__slide {
    position: absolute;
    top: 0;
    left: 0;
    order: 2;
    opacity: 0;
    transition: opacity var(--transition) ease-in-out;
  }

  .glide__slide.glide__slide--active {
    position: relative;
    order: 1;
    opacity: 1;
    z-index: 1;
  }

  @keyframes startOpaque {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
