html, body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

section {
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}