:root {
    --indent: 8vw;
    --text-gap: 2rem;
    --column-gap: 5vw;
    --text-size-huge: 48px;
    --text-size-xxlarge: 32px;
    --text-size-xlarge: 24px;
    --text-size-large: 18px;
    --text-size-medium: 16px;
    --text-size-small: 14px;
    --text-size-xsmall: 12px;
    --text-size-xxsmall: 10px;

    --feature-font-family: "Rosewood W05 Fill";
    --default-font-family: "Ronnia W01 Light";

    --color-primary: 24, 58, 78;
    --text-color: var(--color-primary);
    --heading-color: var(--color-primary);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: var(--default-font-family);
}

p,
li {
    margin: 0;
    line-height: 1.5;
    font-size: var(--text-size-medium);
    color: rgb(var(--text-color));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.5;
    font-family: var(--default-font-family);
    color: rgb(var(--heading-color));
}

h1 {
    font-size: var(--text-size-xxlarge);
    font-family: var(--feature-font-family);
}

h2 {
    font-size: var(--text-size-xlarge);
    font-family: var(--feature-font-family);
}

hr {
    height: 1px;
    background-color: rgb(var(--color-primary) / 0.25);
    border: none;
}

main > section {
    padding: var(--indent);
}

article > * + * {
    margin-top: var(--text-gap);
}

.center {
    text-align: center;
}

.panelBackground > * {
    position: absolute;
    inset: 0;
}

.panelBackground .swiper figure {
    height: 100%;
    width: 100%;
}