---
export interface Props {
  content_blocks: any[];
}

const contentBlocks = Astro.props.content_blocks;

const components: Record<string, any> = {};
const componentImports = import.meta.glob(
  ["../../**/*.jsx", "../../**/*.astro"],
  {
    eager: true,
  }
);

Object.entries(componentImports).forEach(([path, obj]: [string, any]) => {
  const parts = path.replace("../../", "").split(".")[0].split("/");
  if (parts.length > 1 && parts[parts.length - 1] === parts[parts.length - 2]) {
    parts.pop();
  }
  const bookshopName = parts.join("/");
  components[bookshopName] = obj.default;
});
---

<section class="columns" style={{ "--column-count": contentBlocks.length }}>
  {
    contentBlocks.map((column: any, i: any) => {
      const Component = components[column._bookshop_name];
      return (
        <div class={`column${i}`}>
          <Component {...column} key={i} />
        </div>
      );
    })
  }
</section>

<style lang="scss">
  .columns {
    column-gap: var(--column-gap);
  }
</style>
